body{
    margin: 0;
}
.hello {
    font-family: 'Passion One', cursive;
    font-size: 30px;

}
.colorit{
    color: palevioletred;
    font-weight: 700;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    
}
p{
    font-family: 'Yantramanav', sans-serif;
    font-weight: 500;
}
.one{
    background-image: url(header-bg.png);
    height: 500px;
    margin-top: 4%;
    
}
.half-width{
    width: 40%;
    float: left;
    padding-left: 10%;
    margin-top: -50px;
    
}
.one img{   
    width: 100%;
    padding-left: -50px;
}
#paragraphone{
    margin-right: -200px;
    margin-top: 100px;
}
#piturone{
   margin-left: 5%;
}
.hireme{
    text-decoration: none;
    background-color: palevioletred;
    padding: 10px;
    border-radius: 5px;
    color: azure;
    font-weight: 700;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.two{
    background-image: url(biography-bg.png);
    height: 500px;
}
.two img{
    width: 100%;
}
#paragraphtwo{
    margin-top: 120px;
    margin-left: -80px;
    padding-left: 0;

}
#picturetwo{
    margin-top: 20px;
    margin-left: 70px;
}
.biograph{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
.download-cv{ text-decoration: none;
    background-color: palevioletred;
    padding: 10px;
    border-radius: 5px;
    color: azure;
    font-weight: 700;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}