body{
    margin: 0;
}
.hello {
    font-family: 'Passion One', cursive;
    font-size: 30px;

}
.colorit{
    color: palevioletred;
    font-weight: 700;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    
}
p{
    font-family: 'Yantramanav', sans-serif;
    font-weight: 500;
}
.one{
    background-image: url(header-bg.png);
    height: 500px;
    margin-top: 5%;
    
}
.half-width{
    width: 40%;
    float: left;
    padding-left: 10%;
    margin-top: -50px;
    
}
.one img{   
    width: 100%;
    padding-left: -50px;
}
#paragraphone{
    margin-right: -200px;
    margin-top: 100px;
}
#piturone{
   margin-left: 5%;
}
.hireme{
    text-decoration: none;
    background-color: palevioletred;
    padding: 10px;
    border-radius: 5px;
    color: azure;
    font-weight: 700;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.two{
    background-image: url(biography-bg.png);
    height: 600px;
}
.two img{
    width: 100%;
}
#paragraphtwo{
    margin-top: 120px;
    margin-left: -100px;
    padding-left: 0;

}
#picturetwo{
    margin-top: 20px;
    margin-left: 70px;
}
.biograph{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
.download-cv{ text-decoration: none;
    background-color: palevioletred;
    padding: 10px;
    border-radius: 5px;
    color: azure;
    font-weight: 700;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.latest{
    width: 100%;
    height: 120px;
    text-align: center;
    justify-self: end;
}
.latest-work{
    font-weight: 700;
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.three{
    margin-left: 5%;
    padding-left: 5%;
    padding-right: 5%;
    background-image: url(latest-work-bg.png);
    height: 500px;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3,1fr);  
    grid-template-areas: 
       "a b c";
        
}
.one-work{
    grid-area: a;
    width: 300px;
    height: 300px;
}
.two-work{
    grid-area: b;
    width: 300px;
    height: 300px;
   
}
.three-work{
    grid-area: c;
    width: 300px;
    height: 300px;  
}
.four{
    background-image: url(footer-bg.png);
    width: 100%;
    height: 500px;
    font-family: 'Cabin', sans-serif;
    color: #262626;
}
.client-said {
  
}
.said{
    font-family: 'Cabin', sans-serif;
    font-weight: 700;
    font-size: 35px;
    color: #262626;
}
.sj{
    font-size: 15px;
}
.ceo{
    color: #999a9b;
    font-size: 12px;
    margin-top: -15px;
}
#lorem{
    color: #161717;
    margin-left: 30%;
    margin-right: 30%;
    font-family: 'Cabin', sans-serif;

}
.pink-box{
    background-color: palevioletred;
    width: 600px;
    height: 130px;
    text-align: center;
    margin-left: 400px;
    border-radius: 10px;
    color: antiquewhite;
    background-image: linear-gradient(45deg,#ff007f,#FF69B4);
}

